<ion-view view-title="Datos" hide-back-button="true">
    <ion-nav-buttons side="left">
        <a ui-sref="app.actividades({proyectoId:model.proyecto})" class="fix-boton-atras-customizado">
            <i class="icon ion-chevron-left"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="padding has-footer">
        <ion-refresher pulling-text="Actualizar ..." on-refresh="cargar()"></ion-refresher>
        <ion-list>
            <ion-item>
                <h1>Motivo visita</h1>
            </ion-item>
            <ion-list>
                <ion-radio name="radio_motivos" ng-model="model.motivo" ng-repeat="item in model.motivos" ng-value="item">{{item}}</ion-radio>
            </ion-list>
        </ion-list>
        <br>
        <ion-list>
            <ion-item>
                <h1>Ubicación equipo</h1>
            </ion-item>
            <ion-list>
                <ion-radio name="radio_ubicaciones" ng-model="model.ubicacion" ng-repeat="item in model.ubicaciones" ng-value="item">{{item.nombre}}</ion-radio>
            </ion-list>
        </ion-list>
        <br>
        <ion-list>
            <ion-item ng-click="equipo_qr()" class="item-icon-right">
                <h1>Equipo</h1>
                <i class="icon ion-qr-scanner"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-show="model.equipo && model.equipo._id">
                <strong>{{model.equipo ? model.equipo.nombre : ''}}</strong>
                <i class="icon ion-close-round" ng-click="model.equipo = undefined"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="model.ver_ingreso_manual_equipo = !model.ver_ingreso_manual_equipo">
                <span>Ingreso manual</span>
                <i class="icon {{model.ver_ingreso_manual_equipo ? 'ion-chevron-up' : 'ion-chevron-down'}}"></i>
            </ion-item>
            <ion-list ng-show="model.ver_ingreso_manual_equipo">
                <ion-radio name="radio_equipos" ng-model="model.equipo" ng-repeat="item in model.equipos" ng-value="item" ng-click="model.ver_ingreso_manual_equipo = false">{{item.nombre}}</ion-radio>
            </ion-list>
        </ion-list>
        <ion-list ng-if="model.equipo">
            <ion-item>
                <h1>Datos equipo</h1>
            </ion-item>
            <ion-list>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Marca</span>
                    <input type="text" placeholder="Marca" ng-model="model.equipo.marca">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Modelo</span>
                    <input type="text" placeholder="Modelo" ng-model="model.equipo.modelo">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Tipo</span>
                    <input type="text" placeholder="Tipo" ng-model="model.equipo.descripcion">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Capacidad</span>
                    <input type="text" placeholder="Capacidad" ng-model="model.equipo.capacidad">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Antiguedad</span>
                    <input type="text" placeholder="Antiguedad" ng-model="model.equipo.antiguedad">
                </label>
            </ion-list>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-balanced" ng-click="siguiente()">
        <h1 class="title">Siguiente</h1>
    </ion-footer-bar>
</ion-view>
